In [115]:
# import modules
import pandas as pd 
import numpy as np 
import re

In [84]:
# load data 
bbb_reviews = pd.read_csv('../bbb_barkbox_reviews.csv', encoding='utf-8')
trustpilot_reviews = pd.read_csv('../trustpilot_barkbox_reviews.csv', encoding='utf-8')

In [26]:
# get shapes of each dataset
print(bbb_reviews.shape, trustpilot_reviews.shape)

(128, 5) (7814, 6)

In [85]:
trustpilot_reviews.head(3)

,Name,Location,Review Heading,Review Body,Review Date,Star Rating
0,Karen,US,Buyer Beware: No Exchanges or Returns…,I signed up for a BarkBox subscription from a ...,"Date of experience: March 13, 2025",Rated 2 out of 5 stars
1,Shanelle cuddihy,US,LOVE barkbox but…,LOVE barkbox!! I have a 2 year old boykin span...,"Date of experience: March 11, 2025",Rated 4 out of 5 stars
2,Dana,LU,Go to your local pet store instead,I've gotten three super chewer boxes for my do...,"Date of experience: March 09, 2025",Rated 1 out of 5 stars

In [86]:
bbb_reviews.head(3)

,Unnamed: 0,Name,Star Rating,Date,Review
0,0,Thomas L,1 star,03/18/2025,After attempting to change my address multiple...
1,1,Samantha H,1 star,02/10/2025,Horrible customer service ***** I have been tr...
2,2,Tammi G,1 star,02/10/2025,They say if you need to contact them it has to...

In [31]:
#Inspect data types of each dataset
print("BBB \n", bbb_reviews.dtypes)
print("Trustpilot \n", trustpilot_reviews.dtypes)

BBB
 Name           object
Star Rating    object
Date           object
Review         object
dtype: object
Trustpilot
 Name              object
Location          object
Review Heading    object
Review Body       object
Review Date       object
Star Rating       object
dtype: object

In [87]:
# extract the first number occurrence of each row in the 'rating' column for both datasets
trustpilot_reviews['Star Rating'] = trustpilot_reviews['Star Rating'].str.extract(r'(\d+)')
bbb_reviews['Star Rating'] = bbb_reviews['Star Rating' ].str.extract(r'(\d+)')

In [88]:
# drop columns that are not needed
bbb_reviews = bbb_reviews.drop(columns=['Unnamed: 0'])
bbb_reviews.head(3)

,Name,Star Rating,Date,Review
0,Thomas L,1,03/18/2025,After attempting to change my address multiple...
1,Samantha H,1,02/10/2025,Horrible customer service ***** I have been tr...
2,Tammi G,1,02/10/2025,They say if you need to contact them it has to...

In [97]:
# extract the proper date format in trustpilot dataset
extracted_dates = trustpilot_reviews['Review Date'].str.extract(r'Date of experience:\s+([A-Za-z]+\s+\d{1,2},\s+\d{4})')
extracted_dates.head()

                   0
0     March 13, 2025
1     March 11, 2025
2     March 09, 2025
3     March 01, 2025
4  December 25, 2024

In [107]:
#apply transformation to the entire Review Date column
trustpilot_reviews['Review Date'] = extracted_dates[0].apply(lambda x: pd.to_datetime(x, format='%B %d, %Y').date())
trustpilot_reviews.head(3)

,Name,Location,Review Heading,Review Body,Review Date,Star Rating
0,Karen,US,Buyer Beware: No Exchanges or Returns…,I signed up for a BarkBox subscription from a ...,2025-03-13,2
1,Shanelle cuddihy,US,LOVE barkbox but…,LOVE barkbox!! I have a 2 year old boykin span...,2025-03-11,4
2,Dana,LU,Go to your local pet store instead,I've gotten three super chewer boxes for my do...,2025-03-09,1

In [109]:
# rename BBB columns to match trustpilot columns
bbb_reviews.rename(columns={'Date':'Review Date', 'Review': 'Review Body'}, inplace=True)
bbb_reviews.head(3)

,Name,Star Rating,Review Date,Review Body
0,Thomas L,1,03/18/2025,After attempting to change my address multiple...
1,Samantha H,1,02/10/2025,Horrible customer service ***** I have been tr...
2,Tammi G,1,02/10/2025,They say if you need to contact them it has to...

In [113]:
bbb_reviews['Review Date'] = pd.to_datetime(bbb_reviews['Review Date']).dt.date
bbb_reviews.head(3)

,Name,Star Rating,Review Date,Review Body
0,Thomas L,1,2025-03-18,After attempting to change my address multiple...
1,Samantha H,1,2025-02-10,Horrible customer service ***** I have been tr...
2,Tammi G,1,2025-02-10,They say if you need to contact them it has to...

In [ ]:
# save the cleaned datasets
bbb_reviews.to_csv('../cleaned_bbb_reviews.csv', index=False)
trustpilot_reviews.to_csv('../cleaned_trustpilot_reviews.csv', index=False)